body{
	margin: 0px; 
	background-color: black;
	font-family: avenir next, lucida-grande, verdana, sans-serif;
	color: white;
}

table {
	font-size: 9pt;
}

table, tr, td {
	border:1px solid grey;
	border-collapse:collapse;
}

thead th,
tr:nth-child(even)		{ background-color:#023; }
tr:nth-child(odd)		{ background-color:#000; }

td {
	padding: 5px;	
}

a {color:lightgreen}

img{
	overflow:hidden;
}

div.float {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}

div.header{
	margin-top:10px;
	margin-bottom:10px;

}


div.lyrics{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 9pt;
	line-height: 21px;
}
	
header {
	background:url('/images/gobheader.png') left top no-repeat #000;
	height:190px;
	overflow:hidden;
	width:100%;
}
header h1 {
	position: absolute;
	right: 0;
	text-indent: -99999px;
}
header a#returnhome {
	display: block;
	height: 150px;
	width: 270px;
}

div#welcomebar{
	background: #eee;
	margin-bottom:20px;
	border: solid #fff;
	border-width:  1px 0;
	padding:7px 0px;
	text-align: center;
	color: #222;
	font-size: 13px;
}

nav#accountLinks {
	background: #222;
	border: 1px solid #eee;
	font-size: 11px;
	padding: 5px 7px;
	position: absolute;
	top: -1;
	right: 20;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

nav#accountLinks .karma {
	padding-right: 10px;
}


section#content {
	overflow:hidden;
	padding: 0 50px;
}

div#putTheWidgetHere {
	margin-bottom:20px;
}

footer {
	margin-top:20px;
	margin-bottom: 10px;
	font-family: verdana, sans-serif;
	text-align:center;
	font-size:8pt;
	clear: both;
}

#messagesContainer { display:none; background: #222; border: 1px solid #ccc; padding: 7px; position: absolute; right: 7px; top: 33px; }
.hide { display: none; }

#bestOf { background: #222; border: 1px solid #fff; right: 21px; padding: 5px; position: fixed; top: 36px; width: 423px; z-index: 99; }
#bestOf .close { background: #fff; border: 1px solid #c00; color: #000; cursor: pointer; display: block; height: 16px; position: absolute; right: 0; text-align: center; top: 0; width: 16px; }
#bestOf h2 { font-size: 20px; margin: 0; }
#bestOf ul { font-size: 12px; list-style: none; margin: 0; padding: 0; }
#bestOf ul li { border-bottom: 1px solid #ccc; margin: 5px; padding: 3px; }

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #fed897;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fed897;
	box-shadow:inset 0px 1px 0px 0px #fed897;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f6b33d), color-stop(1, #d29105) );
	background:-moz-linear-gradient( center top, #f6b33d 5%, #d29105 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6b33d', endColorstr='#d29105');
	background-color:#f6b33d;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #eda933;
	display:inline-block;
	color:#000;
	font-family:Trebuchet MS;
	font-size:13px;
	font-weight:normal;
	font-style:normal;
	line-height:20px;
	padding:0 30px;
	margin: 0 5px 0 0;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #cd8a15;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d29105), color-stop(1, #f6b33d) );
	background:-moz-linear-gradient( center top, #d29105 5%, #f6b33d 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d29105', endColorstr='#f6b33d');
	background-color:#d29105;
}
.button:active {
	position:relative;
	top:1px;
}

.done .button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bbbbbb), color-stop(1, #444444) );
	background:-moz-linear-gradient( center top, #bbbbbb 5%, #444444 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#444444');
	background-color:#bbbbbb;
	border: 1px solid #999;
	color:#ddd;
	text-shadow:1px 1px 0px #222222;

}

.button.done {
	background:url('/images/ico.check.png') 10px 1px no-repeat, -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bbbbbb), color-stop(1, #444444) );
	background:url('/images/ico.check.png') 1px 1px no-repeat, -moz-linear-gradient( center top, #bbbbbb 5%, #444444 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#444444');
	background-color:#bbbbbb;
	border: 1px solid #999;
	color:#ddd;
	text-shadow:1px 1px 0px #222222;

}
#bestOfVoting h2{
    border-bottom: 1px dotted #444;
    margin-bottom: 5px;
    padding-bottom: 6px;
}
#bestOfVoting ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#bestOfVoting ul li {
    padding: 5px 0;
}

#votingWidget {
    background: #000;
    border: 1px solid #fff;
    display: none;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px;
    position:fixed;
    right: 20px;
    top: 35px;
    width:412px;
    
}
#soundcloudBlock {
    height: 166px;
    padding: 10px 0;
    width:400px;
    
}
#titleBlock {
    font-size: 21px;
}
#roundBlock {
    font-size: 12px;
}
#bandBlock {
    background: #f7f7f7;
    border: 1px solid #444;
    color: #404040;
    font-size: 11px;
    margin: 0 0 10px;
    padding: 4px 10px;
}
#bandBlock ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#bandBlock ul li{
    float: left;
    padding: 2px 20px;
}
#bandBlock ul li.music{
    background: url('http://d.thumbs.redditmedia.com/0O_wB02wZakV8XGu.png') left top no-repeat;
}
#bandBlock ul li.lyrics{
    background: url('http://d.thumbs.redditmedia.com/AKDIfCqdJBOS08Qo.png') left top no-repeat;
}
#bandBlock ul li.vocals{
    background: url('http://b.thumbs.redditmedia.com/b8QrLlLq0k-ijZe7.png') left top no-repeat;
}
#lyricsBlock {
    font-size: 12px;
}

.clear {clear: both;}