html { margin: 0; padding: 0;}
body { background: #eee; color: #000; font: normal 11px Arial, Helvetica, sans-serif; margin: 0; padding: 0; text-align: center; }

/* Headers */
h2 { font-size: 17px; }
h3 { font-size: 14px; }

/* General Use */
.left { float: left; }
.right { float: right; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.hide { display: none; }

.clearfix,
.clear { clear: both; }

/* Page Structure */
#container { margin: 10px auto; text-align: left; width: 99%; }
#container #page { clear: both; margin-left: 200px; }
#leftnav { clear: left; float: left; margin: 0 5px 0 -200px; width:  195px; }
#content { float: left; overflow: hidden; width:  100%; }
#page-content { background: #fff; border: 1px solid #e3e3e3; color: #505050; padding: 10px; }

/* Page Header */
header { background: #445; color: #fff; font-size: 10px; height: 13px; margin: 0 auto; padding: 10px; text-align: left; }
header h1 { font-size: 15px; margin: 0; padding: 0; }
header #menu { display: none; }
header #menu img { width: 33px; position: relative; float: left; left: -8px; top: -8px; }
    
    /* Message Styles */
    #showMessages { float:  right; }
    #messages { color: #505050; }
    #messagesContainer { display:none; background: #fff; border: 1px solid #eee; padding: 7px; position: absolute; right: 7px; top: 33px; }
    #messagelist { border: 1px solid #777; list-style: none; padding: 0; }
    #messagelist li { border-top: 1px solid #777; font-size: 13px; padding: 4px; }
    #messagelist li:first-child { border-top: none; }
    #messagelist small { font-weight: bold; }
    #messages .new { background: #CDFFFF; }

/* Left Navigation */
#leftnav h3 { background: #d7d7d7; border-top: 1px solid #eee; color: #404040; font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; margin: 0; padding: 4px; }
#leftnav ul { background: #fff; border: 1px solid #e3e3e3; list-style: none; margin: 0; padding: 0; }
#leftnav li a { display: block; font-size: 12px; padding: 3px 10px; }
#leftnav li a:hover { background: #EAF2FA; color: #333; }

/* Table Styles */
table.stacktable { display: none; }
table { border: 1px solid #ccc; border-collapse: collapse; font-size: 12px; }
table thead th { background: #404040; border: 1px solid #777; border-bottom: 2px solid #222; color: #fff; font-size: 14px;  padding: 2px 5px;}
table tbody td { border: 1px solid #eee; padding: 2px 5px; }
table tbody tr:hover { background: #f7f7f7; }
table tbody tr.newround { border-top: 2px solid #222; }

/* Link Styles */
a { color: #21759B; text-decoration: none; }
a.home { color: #fff; text-decoration: none; }
a.home:hover { text-decoration: underline; }

/* Page: Dashboard (?view=dashboard) Styles */
    /* Box */
    .box { background: #f7f7f7; border: 1px solid #ccc; margin: 5px; padding: 4px; }

    /* Corner Banner */
    .corner-banner {
    	position: absolute;
    	right: -65px;
    	top: 9px;
    	display: block;
    	width: 163px;
    	background: #333; /* old browsers */
    	background: -moz-linear-gradient(top, #333 0%, #000 100%); /* firefox */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333), color-stop(100%,#000)); /* webkit */
    	text-align:center;
    	font-size:11px;
    	line-height:13px;
    	padding:3px 3px 4px 3px;
    	
    	-moz-transform: rotate(45deg);  /* FF3.5+ */
    	-o-transform: rotate(45deg);  /* Opera 10.5 */
    	-webkit-transform: rotate(45deg);  /* Saf3.1+, Chrome */
    	transform: rotate(45deg);  /* CSS3 (for when it gets supported) */

    	
    	box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;  
    	-moz-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;  
    	-webkit-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;     
    	-o-box-shadow: rgba(0,0,0, 0.2) 0px 0px 6px;     
    }
    .corner-banner.live {
    	background: #0EBFE9; /* old browsers */
    	background: -moz-linear-gradient(top, #0EBFE9 0%, #4A777A 100%); /* firefox */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0EBFE9), color-stop(100%,#4A777A)); /* webkit */
    }
    .corner-banner em {letter-spacing:1px;font-style:normal;font-size:13px !important;color:#fff;text-transform:uppercase;line-height:12px;display:block;}

@media screen and (max-width: 780px) {
    header #menu {
        display: block;
    }
    table,
    #leftnav {
        display: none;
    }
    #container #page {
        margin: 0;
    }
    table.stacktable {
        display: block;
    }
}